<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <p v-bind:title="message">
          {{text}}
        </p>
        <p>
          {{reversedText}}
        </p>
        <button v-on:click="reverceMessage">Reverse Message</button>
        <input v-model="text">
      </div>
      <div>
        <span v-if="seen">
          I see you)
        </span>
      </div>
      <div>
        <ul>
          <todo-item v-for="item in todos"
          v-bind:todo="item"
          v-bind:key="item.id">
          </todo-teim>
        </ul>
      </div>
    </div>

    <script>
      Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
      })

      var app = new Vue({
        el: "#app",
        data: {
          text: "simple text",
          message: "Hello Vue!",
          seen: true,
          todos: [ {id: 1, text : "text 1"}, {id: 2, text: "text 2"}]
        },
        computed: {
          reversedText: function() {
            return this.text.split('').reverse().join('')
          }
        },
        methods: {
          reverceMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
      });
    </script>
  </body>
</html>
